<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Martin Keiblinger">
    <meta name="keywords" content="schlingel,blog">
    <meta name="description" content="Informationen rund um den Neustart als Artikelsammlung ohne Backend-Skript.">
    <title>Neustart der Werkstätte</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/blog.js"></script>
</head>
<body>
<header>
    <h1><a href="index.html">Schlingel's Werkstätte</a></h1>
    <p>Software Engineering as Passion</p>
</header>

<section>
    <article>
        <header>
            <h2>Was gibt es hier zu lesen?</h2>
        </header>

        {{#each articles}}
            <div class="article-link">
                <h3>{{title}}</h3>
                <span>{{date}}</span>
                <p>{{description}}</p>
                <a href="{{link}}" alt="{{description}}" class="btn btn-default"><i class="fa fa-book"></i> Artikel lesen</a>
            </div>
        {{/each}}
    </article>
</section>

<footer>
    <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a></p>
    <p>Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Namensnennung 4.0 International Lizenz</a>.</p>
    <p><a href="index.html" alt="Link zur Startseite">Startseite</a> | <a href="impressum.html" alt="Link zum Impressum">Impressum</a> | <a href="http://schlingel.bplaced.net/rss.xml" alt="Link zum RSS-Feed">Artikel als RSS-Feed<a/></p>
</footer>

</body>

</html>